// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
//Quicksand
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: lighter;
  src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bolder;
  src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf');
}
//Montserrat
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: lighter;
  src: url('../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bolder;
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

:root {
  --ion-color-primary: #89c643;
  --ion-color-primary-rgb: 137,198,67;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #79ae3b;
  --ion-color-primary-tint: #95cc56;

  --ion-color-secondary: #c3c3c3;
  --ion-color-secondary-rgb: 195,195,195;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #acacac;
  --ion-color-secondary-tint: #c9c9c9;

  --ion-color-tertiary: #a9dc6a;
  --ion-color-tertiary-rgb: 169,220,106;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #95c25d;
  --ion-color-tertiary-tint: #b2e079;

  --ion-color-success: #88ca35;
  --ion-color-success-rgb: 136,202,53;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #78b22f;
  --ion-color-success-tint: #94cf49;

  --ion-color-warning: #e5c534;
  --ion-color-warning-rgb: 229,197,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #caad2e;
  --ion-color-warning-tint: #e8cb48;

  --ion-color-danger: #d54e4e;
  --ion-color-danger-rgb: 213,78,78;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bb4545;
  --ion-color-danger-tint: #d96060;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f8f5;
  --ion-color-light-rgb: 244,248,245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7dad8;
  --ion-color-light-tint: #f5f9f6;

  --ion-color-white: #fff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #fff;
  --ion-color-white-contrast-rgb: 255,255,255;
  --ion-color-white-shade: #f4f4f4;
  --ion-color-white-tint: #fff;

  --ion-font-family: 'Quicksand';
  --ion-font-family: 'Montserrat';
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
  }