<ion-content padding>
	<div text-center no-margin>
		<img src="../../assets/images/logo.png" class="logo">
	</div>
	<form [formGroup]="registerForm" text-center>
		<h4 class="subtitle color-primary" text-center>Cadastro</h4>
		<h6 class="topic color-primary" text-center>Nome</h6>
		
		<ion-item class="inputbox">
			<ion-input formControlName="name" type="text" padding-horizontal placeholder="Seu Nome" class="inputs">
			</ion-input>
		</ion-item>

		<ng-container *ngFor="let error of error_messages.password">          
			<div class="errormessage" *ngIf="registerForm.get('name').hasError(error.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
				{{ error.message }}
			</div>
		</ng-container>
		
		<h6 class="topic color-primary" text-center>E-mail</h6>

		<ion-item class="inputbox">
			<ion-input formControlName="email" type="email" padding-horizontal placeholder="exemplo@email.com" class="inputs">
			</ion-input>
		</ion-item>

		<ng-container *ngFor="let error of error_messages.password">          
			<div class="errormessage" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
				{{ error.message }}
			</div>
		</ng-container>
	</form>
	<form [formGroup]="passwordForm" text-center>

		<h6 class="topic color-primary" text-center>Senha</h6>

		<ion-item class="inputbox">
			<ion-input formControlName="password" type="password" padding-horizontal placeholder="******" class="inputs">
			</ion-input>
		</ion-item>

		<ng-container *ngFor="let error of error_messages.password">          
			<div class="errormessage" *ngIf="passwordForm.get('password').hasError(error.type) && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
				{{ error.message }}
			</div>
		</ng-container>

		<h6 class="topic color-primary" text-center>Confirme sua senha</h6>

		<ion-item class="inputbox">
			<ion-input formControlName="confirmpassword" type="password" padding-horizontal placeholder="******" class="inputs">
			</ion-input>
		</ion-item>

		<div class="errormessage" *ngIf="!this.passwordForm.valid && (passwordForm.get('confirmpassword').dirty || passwordForm.get('confirmpassword').touched)">
			* as senhas devem ser iguais
		</div>

		<!-- <p *ngIf="unmatchPassw" class="errormessage">* as senhas são diferentes</p> -->
		
		<div text-center>
			<ion-button [disabled]="!registerForm.valid || !passwordForm.valid" type="submit" color="primary" class="buttonscadastrar" (click)="registerUser()">
				Cadastrar
			</ion-button>
		</div>
		<div text-center no-margin>
			<ion-button icon-left class="buttonalterar" color="primary" text-center fill="outline" (click)="openLoginPage()">
				<ion-icon name="arrow-back" color="primary"></ion-icon>
				Cancelar
			</ion-button>
		</div>
	</form>
</ion-content>
